@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

body {
  background: #fff;
  font-family: Montserrat;
  color: #fff;
}

.navbar {
  background: #007cbd;
  display: flex;
  padding: 0.9375rem 6.25rem;
  align-items: center;
  color: white;

  /* stick to top */
  position: sticky;
  top: 0;
  z-index: 1;
}

.navbar-nav {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  gap: 1.875rem;
  flex: 1 0 0;
}

.nav-item {
  display: flex;
  padding: 0.625rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;
}

.nav-link {
  color: #fff;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

button.regist-btn {
  display: flex;
  padding: 0.625rem 1.875rem;
  justify-content: center;
  align-items: center;
  gap: 0.625rem;

  border-radius: 6.25rem;
  background: #fff;

  color: #007cbd;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
}

button.regist-btn:hover {
  background: #007cbd;
  color: #fff;
}

/* hero section start */
section#hero {
  background: url("/public/images/hero-bg.png") no-repeat center center/cover;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
}

.headline {
  display: inline-flex;
  flex-direction: column;
  align-items: center;
  gap: 1.875rem;
  padding-left: 16.13rem;
  padding-right: 16.13rem;
}

.wrap-text {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1.25rem;
  text-align: center;
  width: auto;
}

.wrap-text h5 {
  font-size: 1.5rem;
  font-weight: 600;
  line-height: 2.25rem; /* 150% */
  margin: 0;
}

.wrap-text h1 {
  font-size: 3rem;
  font-weight: 800;
  line-height: 2.25rem; /* 75% */
}

.wrap-text p {
  text-align: center;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 600;
  line-height: normal;
  margin: 0;
  padding-left: 2.44rem;
  padding-right: 2.44rem;
  font-weight: normal;
}

button.main-regist-btn {
  display: flex;
  padding: 1rem 1.25rem;
  gap: 0.625rem;

  border-radius: 0.3125rem;
  background: #3eb7dd;

  color: #fff;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 800;
  line-height: normal;
}

button.main-regist-btn:hover {
  background: #007cbd;
}

/* hero section end */

/* about section */

section#about {
  padding: 6.25rem 12.5rem;
}

section#about .desc {
  display: grid;
  gap: 1.25rem;
}

.desc h3 {
  color: #007cbd;
  font-size: 1.25rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
  margin: 0;
}

.desc p {
  color: #1b1e28;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1875rem;
  margin: 0;
}

iframe {
  width: 100%;
}

.share-social-media {
  display: flex;
  align-items: flex-start;
  gap: 1rem;
}

.share-social-media h5 {
  color: #007cbd;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 400;
  line-height: 1.1875rem;
  margin: 0;
  align-self: center;
}

/* mechanism section */

section#mechanism {
  background: url("/public/images/background-mekanisme-section.png") no-repeat
    center center/cover;
  padding: 9.19rem 0rem 9.19rem 0rem;
}

section#mechanism .row {
  display: grid;
  gap: 2.5rem;
}

section#mechanism h1 {
  font-size: 3rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem;
}

.title {
  color: #007cbd;
  font-size: 1.125rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.1875rem;
  margin: 0;
}

section#mechanism .date {
  color: #007cbd;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.1875rem;
  margin: 0;
}

section#mechanism .list-card {
  display: grid;
  gap: 1.56rem;
}

.mechanism-card {
  padding: 1.875rem;
  border-radius: 0.625rem;
}

.mechanism-card:hover {
  background: #fff;
  box-shadow: 0px 5px 10px 0px rgba(255, 255, 255, 0.6);
}

.mechanism-card .desc {
  display: flex;
  flex-direction: column;
  gap: 0.625rem;
}

.mechanism-card .card-body {
  display: flex;
  gap: 1.88rem;
  padding: 0;
}

.desc-list ol {
  padding-left: 1rem;
  margin: 0;

  color: #1b1e28;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: 1.25rem; /* 166.667% */
}

/* logo section */
section#logo {
  display: flex;
  padding: 5.125rem 0rem 5.0625rem 0rem;
  justify-content: center;
  align-items: center;
  background: #f4fbff;
}

section#logo .container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3.125rem;
  max-width: 100%;
  background: #f4fbff;
}

.logo-card {
  width: 18.1875rem;
  height: 9rem;
  padding: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 0.625rem;
  background: #fff;
}

.gap {
  width: 2rem; /* Set the width of the gap */
  flex-shrink: 0; /* Prevent the spacer element from shrinking */
}

.scroll-container {
  width: 100vw;
  overflow-x: scroll;
  white-space: nowrap;
  background-color: #f4fbff;
  display: flex;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

.scroll-disabler {
  width: 100vw;
  height: 34.4px;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.0001);
}

::-webkit-scrollbar {
  display: none;
}

/* latest update  */

section#latestupdate .container {
  display: grid;
  gap: 2.5rem;
}

.latest-update-title {
  color: #007cbd;
  font-size: 2rem;
  font-style: normal;
  font-weight: 700;
  line-height: 1.25rem; /* 62.5% */
}

.article-card {
  border-radius: 0.625rem;
}

.article-card h5 {
  color: #1b1e28;
  font-size: 0.875rem;
  font-style: normal;
  font-weight: 700;
  line-height: normal;
}

.article-card p {
  color: #7a7b7e;
  font-size: 0.75rem;
  font-style: normal;
  font-weight: 500;
  line-height: normal;
}

.article-card .card-body {
  padding: 0;
  padding-top: 0.94rem;
}

.article-card a {
  text-decoration: none;
}

.zoom-img {
  width: 100%;
  overflow: hidden;
  margin: 0 auto;

  border-radius: 0.625rem;
}

.article-card img {
  object-fit: cover;
  transition: 0.3s all ease-in-out;
}

.article-card img:hover {
  transform: scale(1.1);
  border-radius: 0.625rem;
}

.article-card a:hover h5 {
  color: #007cbd;
}

@media (max-width: 768px) {
  /* hero section */
  .headline {
    padding-right: 3.31rem;
    padding-left: 3.31rem;
  }

  .wrap-text h5 {
    font-size: 1.25rem;
    line-height: normal;
  }

  .wrap-text h1 {
    font-size: 2.25rem;
  }

  .wrap-text p {
    font-size: 0.75rem;
    padding: 0;
    font-weight: normal;
  }

  button.regist-btn {
    display: flex;
    padding: 1rem 1.25rem;
    gap: 0.625rem;

    border-radius: 0.3125rem;
    background: #3eb7dd;

    color: #fff;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  /* about section responsive */
  section#about {
    padding: 6.25rem 8rem;
  }

  .about-card {
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
  }

  .about-card iframe {
    width: 100%;
    height: 13.75981rem;
  }

  .share-social-media h5 {
    font-size: 0.75rem;
    line-height: 1.25rem;
    padding: 0;
    text-align: center;
  }

  section#mechanism .container {
    max-width: 70%;
  }

  .mechanism-card {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 1.0625rem;
    border-radius: 0.625rem;
    background: #fff;
    width: auto;
    max-width: 100%;
    padding: 1.875rem;
    box-sizing: border-box; /* Add this line */
  }

  .mechanism-card .card-body {
    display: flex;
    flex-wrap: wrap; /* Add this line */
    gap: 1.875rem;
    padding: 0;
    width: 100%; /* Add this line */
    box-sizing: border-box; /* Add this line */
  }

  .description {
    display: flex;
    flex-direction: column;
    gap: 0.625rem;
    flex: 1 1 auto; /* Add this line */
    width: 100%; /* Add this line */
    box-sizing: border-box; /* Add this line */
  }

  .desc-head {
    display: inline;
    justify-content: right;
  }

  .date {
    text-align: left;
    padding-top: 0.63rem;
  }
}

@media (max-width: 480px) {
  /* hidden nav */
  .navbar {
    display: none;
  }
  /* hero section responsive */

  .wrap-text,
  .wrap-text p {
    text-align: left;
    padding: 0;
  }

  .headline {
    padding-right: 3.31rem;
    padding-left: 3.31rem;
    align-items: flex-start;
  }

  .wrap-text {
    padding: 0;
    text-align: left;
  }

  .wrap-text h5 {
    font-size: 1.25rem;
    line-height: normal;
  }

  .wrap-text h1 {
    font-size: 2.25rem;
  }

  .wrap-text p {
    font-size: 0.75rem;
    align-self: stretch;
    padding: 0;
    text-align: left;
    font-weight: normal;
  }

  button.regist-btn {
    display: flex;
    padding: 1rem 1.25rem;
    gap: 0.625rem;

    border-radius: 0.3125rem;
    background: #3eb7dd;

    color: #fff;
    font-size: 0.875rem;
    font-style: normal;
    font-weight: 800;
    line-height: normal;
  }

  /* about section responsive */
  section#about {
    padding: 6.25rem 1.22rem 6.25rem 1.22rem;
  }

  .about-card {
    flex-direction: column;
    align-items: center;
    gap: 1.875rem;
  }

  .about-card iframe {
    width: 100%;
    height: 13.75981rem;
  }

  .share-social-media h5 {
    font-size: 0.75rem;
    line-height: 1.25rem;
    padding: 0;
    text-align: center;
  }

  section#mechanism .container {
    max-width: 90%;
  }
}
